@use '../_global' as *;

.m-button {
  --_color__main-default: var(--color__primary);
  --_color__sub-default: white;
  --_color__main: var(--_color__main-default);
  --_color__sub: var(--_color__sub-default);
  --_max-width: 300;
  --_duration: 0.3s;

  display: grid;
  place-items: center;
  max-width: calc(var(--_max-width) * 1rem / var(--font-size__base));
  width: 100%;
  color: var(--_color__sub);
  font-size: calc(16rem / var(--font-size__base));
  background-color: var(--_color__main);
  border-width: 1px;
  border-style: solid;
  border-color: var(--_color__main);
  border-radius: 9999px;
  filter: drop-shadow(0 3px 6px rgb(0, 0, 0, 0.2));
  transition:
    color var(--_duration),
    background-color var(--_duration),
    border-color var(--_duration),
    filter var(--_duration);
  touch-action: manipulation;
  padding-block: calc(8rem / 16);
  padding-inline: calc(8rem / 16);
}

@media (any-hover: hover) {
  .m-button:hover {
    color: var(--_color__main);
    background-color: var(--_color__sub);
    filter: unset;
  }
}

.m-button:focus-visible {
  color: var(--_color__main);
  background-color: var(--_color__sub);
  filter: unset;
}

.m-button--invert {
  --_color__main: var(--_color__sub-default);
  --_color__sub: var(--_color__main-default);

  border-color: var(--_color__main);
}

.m-button--secondary {
  --_color__main-default: var(--color__secondary);
  --_color__sub-default: white;
}
