@use '../_global' as *;

.m-contact-cta {
  position: relative;
  padding-block: rem(100);

  @include mq('lg') {
    padding-block: rem(60);
  }
}

.m-contact-cta::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color__gradient-blue);
  border-radius: 30px;
  z-index: -1;
}

.m-contact-cta__inner.l-inner {
  --_max-width: 983;

  @include mq('md') {
    --_max-width: var(--max-width__base);
  }
}

.m-contact-cta__block {
  position: relative;
  border-radius: 10px;
  background-color: var(--color__white);
  padding-top: rem(54);
  padding-bottom: rem(60);
  padding-inline: rem(20);
  margin-top: rem(39);
}

.m-contact-cta__block::before {
  content: '';
  position: absolute;
  top: rem(-98);
  right: rem(16);
  background-image: url(../images/common/contact-block-icon.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(180);
  height: rem(180);
  z-index: 0;

  @include mq('md') {
    top: rem(-60);
    right: 0;
    width: rem(120);
    height: rem(120);
  }
}

.m-contact-cta__text-wrapper {
  text-align: center;
}

.m-contact-cta__body {
  display: flex;
  justify-content: center;
  gap: rem(69);
  margin-top: rem(20);

  @include mq('lg') {
    flex-direction: column;
    align-items: center;
    gap: rem(40);
  }
}
