@use '../_global' as *;

.m-home-training-service {
  position: relative;
  padding-top: rem(99);
  padding-bottom: rem(100);
}

.m-home-training-service::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e7ecfc;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.m-home-training-service__inner {
  position: relative;
}

.m-home-training-service__header-text {
  margin-top: rem(58);
}

.m-home-training-service__wrapper {
  position: relative;
  margin-top: rem(76);
}

.m-home-training-service__bg-icon {
  position: absolute;
  top: rem(-7);
  left: rem(264);
  width: rem(129);
  height: rem(95);

  @include mq('md') {
    left: rem(190);
  }
}

.m-home-training-service__bg-icon img {
  object-fit: cover;
  aspect-ratio: 129 / 95;
  width: 100%;
  height: 100%;
}

.m-home-training-service__cards {
  grid-template-columns: repeat(2, 1fr);
  margin-top: rem(27);

  @include mq('md') {
    row-gap: rem(30);
    grid-template-columns: 1fr;
  }
}

.m-home-training-service__bottom {
  margin-top: rem(60);
}
