@use '../_global' as *;

.m-media-coverage {
  position: relative;
  max-width: 810px;
  padding-top: rem(42);
  padding-bottom: rem(39);
  margin-inline: auto;
}

.m-media-coverage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color__white);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.11);
  z-index: -1;
}

.m-media-coverage__title {
  position: relative;
  font-size: rem(40);
  font-weight: 700;
  color: transparent;
  background: var(--color__gradient-blue);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: calc(48 / 40);
  text-align: center;

  @include mq('md') {
    font-size: rem(28);
  }
}

.m-media-coverage__title::before {
  content: '';
  position: absolute;
  top: rem(-32);
  right: rem(85);
  background-image: url(../images/mystery-shopper/media-coverage-title-icon.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(112);
  aspect-ratio: 112 / 95;
  z-index: -1;

  @include mq('md') {
    right: unset;
    left: 72%;
    width: rem(80);
  }
}

.m-media-coverage__pickup {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: rem(4);
  margin-top: rem(10);

  @include mq('md') {
    flex-direction: column;
    align-items: center;
    margin-top: rem(40);
  }
}

.m-media-coverage__pickup::before {
  content: '';
  position: absolute;
  top: rem(26);
  left: rem(44);
  background-image: url(../images/mystery-shopper/media-coverage-pickup-icon.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(116);
  aspect-ratio: 116 / 102;
  z-index: -1;

  @include mq('md') {
    left: unset;
    right: 72%;
    width: rem(80);
  }
}

.m-media-coverage__text {
  font-size: rem(20);
  font-weight: 700;
  line-height: calc(24 / 20);
}

.m-media-coverage__icon img {
  object-fit: cover;
  aspect-ratio: 30 / 25;
  width: rem(30);
  height: 100%;
}

.m-media-coverage__text-highlight {
  font-size: rem(25);
  font-weight: 700;
  color: transparent;
  background: var(--color__gradient-blue);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: calc(30 / 25);
}

.m-media-coverage__button {
  display: flex;
  justify-content: center;
  margin-top: rem(29);
}
