@use '../_global' as *;

.m-mystery-shopper-point {
  position: relative;
  padding-top: rem(80);
  padding-bottom: rem(77);
}

.m-mystery-shopper-point::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fffcf3;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  z-index: -1;
}

.m-mystery-shopper-point__wrapper {
  --_row-gap__grid: 48;
  --_width__left: 533;
  --_width__right: 400;
  --_column-gap: 61;
  margin-top: rem(41);
}

.m-mystery-shopper-point__contents {
  position: relative;
  align-items: center;
  padding-block: rem(48);
  padding-right: rem(66);
  padding-left: rem(64);

  @include mq('lg') {
    padding: rem(20) rem(40);
  }

  @include mq('md') {
    row-gap: rem(20);
    padding: rem(20);
  }
}

.m-mystery-shopper-point__contents::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color__white);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}

.m-mystery-shopper-point__body-heading {
  display: flex;
  align-items: center;
  gap: rem(14);
}

.m-mystery-shopper-point__sub-text {
  font-size: rem(16);
  font-weight: 700;
  color: transparent;
  background: var(--color__gradient-blue);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: calc(19 / 16);
}

.m-mystery-shopper-point__number {
  font-size: rem(80);
  font-weight: 500;
  color: transparent;
  background: var(--color__gradient-blue);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1;

  @include mq('md') {
    font-size: rem(60);
  }
}

.m-mystery-shopper-point__subtitle {
  font-size: rem(20);
  font-weight: 700;
  color: transparent;
  background: var(--color__gradient-blue);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: calc(32 / 20);
  margin-top: rem(8);
}

.m-mystery-shopper-point__text-wrapper {
  margin-top: rem(24);
}

.m-mystery-shopper-point__image {
  display: flex;
}

.m-mystery-shopper-point__image img {
  object-fit: cover;
  aspect-ratio: 400 / 300;
  height: 100%;
  border-radius: 20px;
}
