@use '../_global' as *;

.m-mystery-shopper-features {
  padding-top: rem(80);
  padding-bottom: rem(55);
}

.m-mystery-shopper-features__inner {
}

.m-mystery-shopper-features__contents {
  display: grid;
  row-gap: rem(59);
}

.m-mystery-shopper-features__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(41);
}

.m-mystery-shopper-features__image {
  width: 50vw;
  margin-left: calc((50vw - 50%) * -1);
}

.m-mystery-shopper-features__image img {
  object-fit: cover;
  aspect-ratio: 802 / 512;
  width: rem(802);
  height: 100%;
}

.m-mystery-shopper-features__lead {
}

.m-mystery-shopper-features__subtitle {
  font-size: rem(28);
  font-weight: 700;
  color: transparent;
  background: var(--color__gradient-blue);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: calc(45 / 28);
}
