@use '../_global' as *;

.m-page-title {
  position: relative;
  display: inline-flex;
  font-size: rem(35);
  font-family: var(--font-family__roboto);
  font-weight: 700;
  color: var(--color__white);
  line-height: calc(41 / 35);
}

.m-page-title::before {
  content: '';
  position: absolute;
  top: 50%;
  right: rem(-142);
  transform: translateY(-50%);
  background-image: url(../images/common/sub-mv-title-icon.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 129 / 94;
  width: rem(129);
  height: rem(94);
  z-index: -1;
}
