@use '../_global' as *;

.m-section-title {
  display: flex;
  align-items: center;
  gap: rem(6);

  @include mq('md') {
    gap: rem(14);
  }
}

.m-section-title--center {
  justify-content: center;
}

.m-section-title__icon img {
  object-fit: cover;
  aspect-ratio: 57 / 50;
  width: rem(57);
  height: 100%;

  @include mq('md') {
    width: rem(40);
  }
}

.m-section-title__text {
  font-size: rem(35);
  font-weight: 700;
  background: var(--color__gradient-blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: calc(42 / 35);

  @include mq('lg') {
    flex: 1;
  }

  @include mq('md') {
    font-size: rem(28);
  }
}

.m-section-title__text--training-service {
  line-height: calc(44 / 35);
}

.m-section-title__text--middle {
  font-size: rem(35);
  line-height: calc(42 / 35);
  text-align: center;

  @include mq('lg') {
    flex: unset;
  }

  @include mq('md') {
    flex: unset;
    font-size: rem(28);
    text-align: left;
  }
}

.m-section-title__text--middle > span {
  font-size: rem(30);
  line-height: calc(44 / 30);

  @include mq('md') {
    font-size: rem(20);
  }
}

.m-section-title__text--large {
  font-size: rem(37);
  line-height: calc(44 / 37);

  @include mq('lg') {
    flex: unset;
  }

  @include mq('md') {
    font-size: rem(28);
  }
}
