@use '../_global' as *;

.l-grid-five {
  --_max-width: 1124; // 最大の横幅
  --_column-gap: 10; // 列間
  --_row-gap: 40; // 行間

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: calc((var(--_column-gap) / var(--_max-width)) * 100%);
  row-gap: min(
    calc((var(--_row-gap) / var(--_max-width)) * 100vw),
    calc(var(--_row-gap) * 1px)
  );
}

@include mq('md') {
  .l-grid-five {
    grid-template-columns: auto;
  }
}
