@use '../_global' as *;

.p-home-mystery-shopper {
  position: relative;
  padding-top: rem(100);
  padding-bottom: rem(102);
}

.p-home-mystery-shopper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/front-page/home-mystery-shopper-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  aspect-ratio: 1440 / 893;
  z-index: -1;
}

.p-home-mystery-shopper__inner {
}

.p-home-mystery-shopper__wrapper {
}

.p-home-mystery-shopper__content {
}

.p-home-mystery-shopper__content.l-two-columns {
  --_width__left: 503;
  --_width__right: 562;
  --_column-gap: 59;
}

.p-home-mystery-shopper__content-item {
}

.p-home-mystery-shopper__content-image {
  position: relative;
}

.p-home-mystery-shopper__content-image img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  object-fit: cover;
  aspect-ratio: 527 / 318;
  width: rem(527);
  height: 100%;
  border-radius: 20px;
}

.p-home-mystery-shopper__content-body {
}

.p-home-mystery-shopper__content-body-text {
  margin-top: rem(34);
}

.p-home-mystery-shopper__content-body-button {
  display: flex;
  justify-content: center;
  margin-top: rem(72);
}
