@use '../_global' as *;

.p-home-column {
  padding-block: rem(100);
}

.p-home-column__inner {
}

.p-home-column__wrapper {
}

.p-home-column__cards {
  margin-top: rem(39);
}

.p-home-column__cards.l-grid {
  --_min-width__column: 360;
  --_column-gap: 22;
}

.p-home-column__button {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: rem(64);
}

.p-home-column__button::before {
  content: '';
  position: absolute;
  top: rem(-29);
  left: rem(157);
  background-image: url(../images/front-page/home-pickup-column-icon.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(156);
  height: rem(133);
  aspect-ratio: 156 / 133;
  z-index: -1;
}
